{% extends 'base.html' %}

{% block body %}
<style>
  .image{
    height: 47vh!;
    width: 38vw!;
  }
  .mycard{
    width: 79vw!important;
    margin-top:2%;
    margin-bottom:2%;
    margin-left: auto;
    margin-right: auto;
  }
  .card{
    margin: 0 20px ;
  }
</style>
<div class="card-group mycard">

  {% for i in allpost %}
  <div class="card">
    <img src="{{i.image.url}}" class="card-img-top image " alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      {% autoescape off %}
      <p class="card-text">{{i.content|truncatechars:200}}</p>
      {% endautoescape  %}
    </div>
    <div class="card-footer">
      <p>{{i.author}}</p>
      <small class="text-muted">{{i.post_date}}</small>
    </div>
    <button class="btn btn-dark"><a href="{% url 'postdetail' i.slug %}">Read More</a></button>
  </div>
  {% endfor %}
<!-- </div>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
</div> -->
</div>
 <style>
   .text-center{
    display: grid;
    justify-content: center;
   }
 </style>
<div class="text-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
  {% if prev %}
      <li class="page-item"><a class="page-link" href="?page={{prev}}">Previous</a></li>
      {% else %}
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  {% endif%}
  {% if nxt %}
    <li class="page-item"><a class="page-link" href="?page={{nxt}}">Next</a></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
  {% endif%}
    </ul>
  </nav>
</div>




{% endblock %}